[data]
name = OfficeHome
path = /dataset_root
source = R
target = P
class = 65

[sample]
strategy = sdm
init = 0
query_ratio = 0.01
totality = 20000

[param]
seed = 1
epoch = 40
lr = 0.1
batch = 72
weight_decay = 1e-4
use_cuda = 1
device = 2
num_worker = 2
log_interval = 50
n_views = 1
ema_momentum = 0
sdm_lambda = 0.01
sdm_margin = 1.0

[mme]
reverse_weight = 1.0
lambda = 0.025
